/*-------------- Base Styles --------------*/

body {
  color: #5a5a5a;
  background: #f0f0f0;
  font-family: Quicksand, 'Raleway', sans-serif;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

footer {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.header-content {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
}

.main-content {
  width: 100%;
  margin: 0 auto;
}

.header-logo {
  width: 170px;
  margin: 15px 100px 0px;
  align-self: center;
}

.menu-button {
  display: none;
}

.cancel-button {
  display: none;
}

.nav-ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  padding-bottom: 10px;
}

.nav-li-a {
  padding: 8px 30px;
  text-align: center;
  display: block;
  border-right: 1px solid;
  color: #5a5a5a;
  transition: all .25s ease-out;
}

/* nav ul a:last-child {
  margin-right: 0;
  border: none;
} */

.nav-li-a:hover {
  color: #a51924;
  transition: all .25s ease-out;
}

.social-media-large {
  display: none;
}

.interior-page-container-mobile,
.exterior-page-container-mobile {
  display: none;
}

.interior-page-container-large,
.exterior-page-container-large {
  display: none;
}

/*-------------- Slideshow End --------------*/

/*-------------- Media Queries --------------*/

/*-------------- Small Media Query --------------*/

@media only screen and (max-width: 599px) {

  /*-------------- Mobile Hamburger Menu --------------*/

  .header-content {
    margin: 25px 0;
  }

  .mobile-header-position {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
  }

  .header-logo {
    /* width: 200px; */
    margin: 0;
    align-self: center;
  }

  .menu-button {
    display: block;
    align-self: center;
    position: absolute;
    right: 15px;
    width: 28px;
    height: 28px;
    margin-top: 5px;
  }

  .cancel-button {
    display: none;
    align-self: center;
    position: absolute;
    right: 15px;
    width: 23px;
    height: 23px;
    margin-top: 5px;
  }

  .nav-ul {
    display: none;
    z-index: 1;
    position: absolute;
    margin: 0 auto;
    top: calc(100% + 25px);
    left: 0;
    width: 100%;
    background: #f0f0f0;
  }

  .nav-li-a {
    padding: 18px;
    border-right: none;
    border-bottom: 1px solid #C0C0C0;
  }

  .nav-ul:first-child {
    border-top: 1px solid #C0C0C0;
  }

  .nav-ul:last-child {
    padding-bottom: 0;
  }

  /**********************************************/

  .main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .interior-page-container-mobile,
  .exterior-page-container-mobile {
    display: block;
    position: relative;
    text-align: center;
    overflow: hidden;
    object-fit: cover;
    height: 30%;
  }

  .interior-page-photo-mobile,
  .exterior-page-photo-mobile {
    width: 90%;
    object-fit: cover;
  }

  .interior-page-text-mobile,
  .exterior-page-text-mobile {
    font-size: 20px;
    position: absolute;
  }

  .interior-page-text-mobile {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .exterior-page-text-mobile {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /**********************************************/

  .social-media-small {
    display: flex;
    align-self: center;
    margin: 15px 0;
    filter: invert(100%);
  }

  .social-media-small a img {
    width: 27px;
    margin: 0;
    padding: 5px;
    align-self: center;
    opacity: .3;
  }
}

/*-------------- Medium Media Query --------------*/

@media only screen and (min-width: 600px) and (max-width: 1024px) {

body {
  background-color: #f0f0f0;
  color: #5a5a5a;
}

.body-wrapper {
  display: flex;
  overflow: hidden;
  background-color:
}

.header-content {
  left: 0;
  z-index: 1;
  border: none;
  width: 20%;
  min-width: 300px;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  align-content: flex-start;
}


.header-logo {
  margin: 30px 0 30px;
  vertical-align: top;
  position: absolute;
  top: 0;
}

nav {
  position: absolute;
  top: 20%;
}

.nav-ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border-top: 1px solid #5a5a5a;
  border-bottom: 1px solid #5a5a5a;
  padding-top: 40px;
}

.nav-li-a {
  padding: 5px;
  margin-bottom: 40px;
  font-size: 17px;
  font-weight: 100;
  color: #5a5a5a;
  border: none;
  text-align: center;
  text-transform: uppercase;
}

.menu-button {
  display: none;
}

.cancel-button {
  display: none;
}

.main-content {
  height: 100vh;
  width: 100%;
  margin: 0;
  overflow: hidden;
}

/**********************************************/

.main-content {
  height: : 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.interior-page-container-large,
.exterior-page-container-large {
  display: block;
  position: relative;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

.interior-page-photo-large,
.exterior-page-photo-large {
  width: 100%;
  overflow: hidden;
}

.interior-page-text-large,
.exterior-page-text-large {
  font-size: 25px;
  position: absolute;
}

.interior-page-text-large {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.exterior-page-text-large {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/**********************************************/

.social-media-small {
  display: none;
}

.social-media-large {
  display: flex;
  align-self: center;
  position: absolute;
  bottom: 30px;
}

.social-media-large a img {
  width: 35px;
  padding: 5px;
  align-self: center;
  opacity: 1;
  -webkit-filter: invert(100%);
}
}

/*-------------- Media Query to fix spacing around images --------------*/

/* @media only screen and (min-width: 950px) and (max-width: 1025px) {
  .interior-page-container-large,
  .exterior-page-container-large {
    height: 50%;
  }

  .interior-page-photo-large,
  .exterior-page-photo-large {
    width: 100%;
    height: auto;
  }
} */

/*-------------- Large Media Query --------------*/

@media only screen and (min-width: 1025px) {

  .body-wrapper {
    display: flex;
    overflow: hidden;
    background-color: #f0f0f0;
  }

  .header-content {
    background: #f0f0f0;
    position: relative;
    border-bottom: none;
    width: 20%;
    min-width: 300px;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    align-content: flex-start;
  }

  .header-logo {
    margin: 35px 0 30px;
    vertical-align: top;
    position: absolute;
    top: 0;
  }

  nav {
    position: absolute;
    top: 20%;
  }

  .nav-ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 1px solid #606060;
    border-bottom: 1px solid #606060;
    padding-top: 40px;
  }

  .nav-li-a {
    padding: 5px;
    margin-bottom: 40px;
    font-size: 17px;
    font-weight: 100;
    color: #5a5a5a;
    border: none;
    text-align: center;
    text-transform: uppercase;
  }

  .menu-button {
    display: none;
  }

  .cancel-button {
    display: none;
  }

  .main-content {
    background: #f0f0f0;
    margin: 0;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
  }

  /**********************************************/

  .main-content {
    height: : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .interior-page-container-large,
  .exterior-page-container-large {
    display: block;
    position: relative;
    text-align: center;
    height: 50%
  }

  .interior-page-photo-large,
  .exterior-page-photo-large {
    width: 100%;
  }

  .interior-page-text-large,
  .exterior-page-text-large {
    font-size: 30px;
    position: absolute;
  }

  .interior-page-text-large {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .exterior-page-text-large {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .social-media-small {
    display: none;
  }

  .social-media-large {
    display: flex;
    align-self: center;
    position: absolute;
    bottom: 30px;
  }

  .social-media-large a img {
    width: 35px;
    padding: 5px;
    align-self: center;
    opacity: .5;
  }
}
